
<label>Server Name: </label>
<div class="ui input">

    <!-- <input type="text"
    placeholder="Enter server name."
    (input)="onUpdateServerName($event)"
    /> -->


    <input type="text"
    placeholder="Enter server name."
    [(ngModel)]="serverName"
    />    


</div>
<p *ngIf="serverCreated">Server was created! Name is {{serverName}}</p>
<button class="ui primary button" 
(click)="onCreateServer()" 
[disabled]="!allowNewServer" >Add Server</button>
<gi-server *ngFor="let server of availableServers" ></gi-server>

<button class="ui yellow button"
(click)="onClickDisplayDetails()"
>Display Details</button>
<p *ngIf="!displayDetails">Secret Password = "tuna"</p>
<ol>
 <li 
 *ngFor="let log of buttonLog; index as i" 
 [ngStyle]="{'backgroundColor': i>=4?'blue':'tranparent'}"
 [ngClass]="{'white': i>=4?true:false}"
 >
   Action "{{log.action}}" has been executed on {{log.time}}
 </li>
</ol>
