
<label>Server Name: </label>
<div class="ui input">

    <!-- <input type="text"
    placeholder="Enter server name."
    (input)="onUpdateServerName($event)"
    /> -->


    <input type="text"
    placeholder="Enter server name."
    [(ngModel)]="serverName"
    />    


</div>
<p *ngIf="serverCreated; else noServer">Server was created! Name is {{serverName}}</p>
<ng-template #noServer>
  <p>No server available yet.</p>
</ng-template>
<button class="ui primary button" 
(click)="onCreateServer()" 
[disabled]="!allowNewServer" >Add Server</button>
<!-- <p [innerText]="allowNewServer" ></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<gi-server></gi-server>
<gi-server></gi-server>
